@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner__container{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    width: 80%;
    margin-bottom: 4vh;
}

.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.header__title{
    font-size: 96px;
    font-weight: 500;
    color: rgb(183, 50, 158);
}

.header__description{
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 2vh;
}

.projects__container{
    display: flex;
    gap: 9vw;
}

.projects__container > * {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.try-project__link{
    font-size: 22px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    padding: 6px 20px 5px 10px;
    background-color: rgb(255, 222, 246);
    border-radius: 3px;
    transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -ms-transition: .5s ease-out;
    -o-transition: .5s ease-out;
}

.try-project__link:hover{
    padding: 6px 90px 5px 10px;
    transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -ms-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    color: rgb(139, 13, 122);
}

.github__link{
    font-size: 32px;
}

.projects__links{
    display: flex;
    gap: 9vw;
}

.projects__links > *{
    flex: 1;
    display: flex;
    justify-content: space-between;
    
}